:root{
    --var-color-primary: #0080ff;
    --var-colo-p: #2b5a89;
    --var-color-secuario: #ff9c00;
}
*{
    box-sizing: border-box;
}

nav{
    background-color: var(--var-color-primary);
}
.i-nav{
    color: white !important;
    
}

.activate{

    border-bottom: 3px solid white; 
}



.nav-top{
    align-items: flex-end !important;
}
.ul-top{
    margin-left: 15%;
    
}

ul{
    width: 100%;
}



.a-logo{
    margin-right: 15% !important;
}

.logo{ 
    height: 20%;
    width: 70%;
    padding-top: 5%;
    
}
.logo-footer{ 
    height: 20%;
    width: 70%;
    padding-top: 5%;
    
}

.ico-note{
    width: 20%;
}
.ico-usa{
    width: 50%;
}

.li-icon{
    width: 100;
    color: white;
    margin-right: 2%;
}

.ico-lupa{
    width: 80%;
}

.li-lupa {
    margin-left: 20%;
}

li{
    list-style: none;
    
}
a{
    color: white !important;
}

.h1-title{
    color: var(--var-color-primary);
    margin-top: 5%;
}

hr{
    background-color: var(--var-color-primary);
}
.hero{
    display: flex;
}

.main{
    margin-bottom: 8%;
}
.main-t{
    width: 100%;
    text-align: center;
}

hr{
    margin: 0px 30%;
    
}

.main-p{
    width: 50%;
    margin-left: 18%;
    margin-right: 2%;
}

.main-text{
    color: var(--var-colo-p);
}

p span{
    color: var(--var-color-primary);
}

.text-contact{
    color: var(--var-color-secuario) ;
    margin-top: 0px;
    margin-bottom: 0px;

}


.p-separator{
    
    margin-right: 75%;
    margin-left: 0px;
    background-color: var(--var-color-secuario) ;
}
.div-iframe{
    height: auto;
    border: 1px solid var(--var-color-primary);
    
}

.main-form{
    width: 50%;
    margin-right: 18%;
    margin-left: 2%;
}

.div-form{
    margin-top: 10%;
}

form label{
    color: var(--var-colo-p);
}

input{
    border: 1px solid var(--var-color-primary) !important;
}
.textarea{
    height: 200px !important;
    border: 1px solid var(--var-color-primary) !important;
}
.div-button{
    justify-content: center;
    margin-top: 2%;
}

.button-form{
    background-color: var(--var-color-secuario) ;
    width: 160px;
    border: none;
    color: white;
   
}



.footer-cont{
    background-color: var(--var-color-primary);
}

.ul-footer{
    align-items: center;
    display: flex;
}

.footer-img{
    justify-content: center !important;
   
}

.hr-footer{
    background-color: white;
}

.footer-cont{
    color: white;
    
}


